__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.log
instance/
.webassets-cache
.env
app/static/uploads/*
!app/static/uploads/.gitkeep
node_modules/
package-lock.json
app/static/css/output.css
